*{
    margin: 0px;
    box-sizing: border-box;
}


.navber{
    background-color: black;
    height: 100px;
    width: 100%;
    float: left;
}

.left_sideber{
    background-color: rgb(14, 0, 209);
    height: 500px;
    width: 10%;
    float: left;

}
.contain1{
    background-color: rgb(191, 248, 3);
    height: 200px;
    width: 90%;
    float: left;

}

.contain2{
    background-color: rgb(240, 3, 248);
    height: 200px;
    width: 90%;
    float: left;

}

.footer{
    background-color:black;
    height: 100px;
    width: 90%;
    float: left;

}
